body {
    font-family: sans-serif;
    color: black;
}

h1, h2 {
    text-align: center;
    text-decoration: underline;
}

.container {
    display: flex;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    justify-content: space-between;
    gap: .5em;
    text-align: center;
}

.card {
    box-shadow: 1em;
    border: .3em solid black;
    background-color: antiquewhite;
    padding: 1em;
    margin: .5em;
}

.map {
    max-width: 50%;
}

@media screen and (max-width: 600px) {
    body {
        text-align: center;
    }
    .container {
        justify-content: center;
    }
    .row {
        flex-direction: column;
        justify-content: center;
    }
    
}